.nav-link {
    color: black !important;
}

.social-media-icon {
    float: left;
}

.leaflet-tooltip {
    position: absolute;
    padding: 6px;
    background-color:rgb(255,255,255,0);
    border: 1px solid rgb(255,255,255,0);
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.0);
    white-space: pre-wrap;
    width: 150px;
}
#region{
    font-size: 10px;
    color:#f2efe9;
    font-weight: bold;
}
#school_value{
    color:orange;
    font-size: 10px;
    font-weight: bold;
}
#school{
    font-size: 10px;
    color:orange;
    font-weight: bold;
}
img {
    width: 100%;
    object-fit: cover;
}

#filterForm {
    background: aliceblue;
}

.btn-block {
    display: -webkit-inline-box !important;
}

/* Legend */
.dc-legend-item.selected {
    outline: solid 2px #508EC3;
}

.dc-legend g.dc-legend-item.selected {
    fill: #09497a !important;
}

.dc-legend {
    dominant-baseline: central;
}

/* Select */
.dc-chart select {
    width: 150px;
}

.dc-chart.select {
    text-align: left;
    margin: 5px;
}

select {
    padding: 5px;
    margin: 5px;
}

#resetFilters {
    min-width: 150px;
}

#download {
    min-width: 150px;
}

/* Popup */
.popupImage {
    max-height: 20em;
    object-fit: contain;
}


/* TopNav */
.nav-link strong {
    color: #508EC3;
}

/* SideNav */
.wrapper {
    display: flex;
    width: 100%;
}

#machineNumber {
    text-align: center;
}


.wrapper {
    display: flex;
    align-items: stretch;
}

nav.nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  Please do change styles of this class
This class is used in several places in the code to hide elements
 */
.hide {
    display: none;
}

.expand-button-col {
    padding-left: 0px !important;
}

/*Figures*/
.dc-chart {
    text-align: center;
    /*margin:30px;*/
}

#infographicSponsorship_feeding_program_provider_or_sponsor g.axis.x text,
#infographicschool_farm_cultivated_vegetables_or_crops g.axis.x text,
#infographicFood_fortified_type g.axis.x text,
#infographicschool_farm_staple_foods_available g.axis.x text,
#infographicCooking_cooking_area g.axis.x text,
#infographicCooking_energy g.axis.x text,
#infographicFood_biofortified_type g.axis.x text {
    text-anchor: end !important;
    transform: rotate(-20deg) !important;
}

svg:not(:root) {
    overflow: visible !important;
}

/*Loading giff*/
.ouro {
    z-index: 500;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    height: 46px;
    width: 46px;

    border-radius: 50%;
    background: none repeat scroll 0 0 #DDDDDD;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
}

.ouro:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    height: 28px;
    width: 28px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.ouro>span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.left {
    left: 0
}

.right {
    left: 50%
}

.anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #508EC3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

@keyframes ui-spinner-rotate-right {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes ui-spinner-rotate-left {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg)
    }

    25% {
        -webkit-transform: rotate(180deg)
    }

    50% {
        -webkit-transform: rotate(180deg)
    }

    75% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg)
    }

    25% {
        -webkit-transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg)
    }

    75% {
        -webkit-transform: rotate(180deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

/* navigation bar css */
.top_navbar {
    padding: 8px 16px 8px 16px;
}

nav.nav {
    box-shadow: none;
}

.nav-tabs {
    border-bottom: none;
}

.top_navbar__logo {
    height: 70px;
    width: auto;
}

.top_navbar__button_group {
    padding: 10px;
}

.top_navbar__button {
    margin: 0 8px 0 8px;
    padding: 0px 26px 0px 26px;
    /* bolden text */
    font-weight: 600;
}


/* sidebar css */
.sidebar {
    background: var(--caledor-sky);
    color: #fff;
    padding: 0 26px 0 26px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    height: 90vh;
}


.sidebar__contents--hide {
    display: none;

}

.sidebar--closed {
    height: inherit;
}

.sidebar__contents p {
    font-size: 0.8em;

}

.sidebar__contents h3 {
    text-align: center;
    font-size: 1.2em;
}

.sidebar__contents p a {
    color: #fff;
    text-decoration: underline;
}



/* Map css */
#mapbar {
    width: 100%;
    padding: 0;

}

.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

#mapid {
    height: 90vh;
    /* border-top-right-radius: 2rem; */
    border-bottom-right-radius: 2rem;
}

.index_contents {
    margin-top: 8.2rem;
}

.page {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #f8f9fa;
}

.map_filters {
    border: 1px solid #ccc;
    padding: 10px 26px 0 26px;
    height: 90vh;
}

.map_filters__items .select-title {
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
}

.map_filters__items select option {
    font-size: 0.8em;
    font-weight: 400;
}


.map_filters h4 {
    text-align: center;
    font-size: 1.2em;
}

.map_filters__items {
    height: 70vh;
    overflow-y: scroll;
}

#infographics {
    display: flex;
    /* wrap overaping contents */
    flex-wrap: wrap;
    justify-content: center;
}

#infographics div {
    width: 30%;
    background: #fff;
    margin: 10px;
}


.toggle_filters__button {
    border: none;
    padding: 8px 14px 8px 14px;
    border-color: var(--caledor-sky);
    ;
    border-radius: 0.5em;
    background: var(--caledor-sky);
}

/*  Nav bar styles */
.top_navbar__button--active,
.top_navbar__button--active:hover,
.top_navbar__button--active:focus {
    background: var(--caledor-sky);
    color: #ffc107;
    border-color: var(--caledor-sky);
    box-shadow: none;
}

#maps,
#howto {
    background: #fff;
    border-radius: 2rem;
    height: 90vh;

}

#maps h4 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}



#maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%
}

#maps select {
    width: 40%;
    margin-top: 20px;
    height: 40px;
    font-size: 1.2em;
    font-weight: 500;
}

#maps input[type='button'] {
    width: 100%;
    color: #fff;
    background: var(--caledor-sky);
    border-color: var(--caledor-sky);
}

#maps a {
    width: 10%;
    margin-top: 15px;
    margin-left: 30%;
    padding: 5px;
}

#maps input[type='submit']:hover,
#maps input[type='submit']:focus {
    background: #ffc107;
    border-color: #ffc107;
}



#maps form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#howto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 26px 0 26px;

}

#howto p,
#howto p ol {
    font-size: 1em;
}

.howto_instructions {
    width: 50%;
}

#howto img {
    margin-top: 80px;
}

.howto_image {
    width: 40%;
}

.scroll_indicator {
    position: fixed;
    top: 93%;
    left: 60%;
}




/* colors */
:root {
    --caledor-sky: #30619c;
    /* backhround color */
}

/* media queries */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar_width--opened {
        width: 36%;
    }

    .sidebar_width--closed {
        width: 5%;
    }

    .map_filters {
        width: 30%;
    }

    .sidebar__contents p {
        font-size: 0.8em;
    }

}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sidebar_width--opened {
        width: 28%;
    }

    .sidebar_width--closed {
        width: 4%;
    }

    .sidebar__contents p {
        font-size: 0.9em;
    }

    .map_filters {
        width: 22%;
    }

}