/* navigation bar css */
.top_navbar {
    padding: 8px 16px 8px 16px;
}

.top_navbar__logo {
  height: 60px;
  width: auto;
}

.top_navbar__button_group {
  padding: 10px;
}

.top_navbar__button {
  margin: 0 8px 0 8px;
  padding: 0px 26px 0px 26px;
  /* bolden text */
    font-weight: 600;
}

.index_contents {
    margin-top: 7rem;
}


