
<!--    <div class="figures">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Functional mills</h3>-->
<!--                    <div id="functionalMills" class="infographics"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Mill types</h3>-->
<!--                    <div id="millTypes" class="infographics"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Energy source</h3>-->
<!--                    <div id="energySource" class="infographics"></div>-->
<!--                    <small>*Each machine can have multiple energy sources</small>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Flour is fortified</h3>-->
<!--                    <div id="fortifiedFlour" class="infographics"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Mill owner</h3>-->
<!--                    <div id="millOwner" class="infographics"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Fortification standard</h3>-->
<!--                    <div id="fortifiedStandard" class="infographics"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--             <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Non operational reason</h3>-->
<!--                    <div id="nonOperational" class="infographics mb-5"></div>-->
<!--                    <small>*Each machine can have multiple reasons</small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <div class="p-3 mb-5 bg-white rounded">-->
<!--                    <h3  class="card-title text-center">Milled grain</h3>-->
<!--                    <div id="grainType" class="infographics"></div>-->
<!--                    <small>*Each machine can have multiple grain types</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
