<div class="col hide side-column" id="howto">
    <div>
        <p m-5 p-5>
            <p>
                <strong>Information of the project</strong>
            </p>
            <p>
                In the first tab you can see some general information of the survey. This includes the
                automatically updating numbers for the mills and machines.
            </p>
            <p>
                <strong>Filters</strong>
            </p>
            <p>
                In the second tab
                there are filters and infographics. When one zooms in on the map, the inforgraphics
                are changed accordingly. One can also change the filters from the select menus, the legends
                or by clicking
                the infographics themselves. To reset the filters, there is a button at the bottom for
                resetting.
            This includes also the zoom level of the map.
            </p>
            <p>
                <strong id="test" class="test">Downloading data</strong>
            </p>
            <p>
                At the bottom of the 'filters and infographics' -pages there is also
                a download button which can be set to download all the data,
                or the filtered data. Filtering here includes also the extent to which the map is zoomed,
                or which infographics have been used to filter the data.
            </p>
            <p>
                <strong>Getting new data</strong>
            </p>
            <p>
                The data is updating itself, but to see the newest data, please press the refresh button.
                The new data should appear within 10mins of the submission.
            </p>
        </p>
    </div>
</div>
