<div class="page hide" id="howto">
    <div class="howto_instructions">
        <h5>Filters</h5>
        <p>
            In the second tab there are filters and infographics. When one zooms in on the map, the infographics are
            changed accordingly. One can also change the filters from the select menus, the legends or by clicking the
            infographics themselves. To reset the filters, there is a button at the bottom for resetting. This includes
            also the zoom level of the map.
        </p>

        <h5>Downloading data</h5>
        <p>
            At the bottom of the 'filters and infographics' -pages there is also a download button which can be set to
            download all the data, or the filtered data. Filtering here includes also the extent to which the map is
            zoomed, or which infographics have been used to filter the data.
        </p>

        <h5>How to add new data</h5>
        <p>
            <ol>
                <li>Install ODK; Go to play store on your android phone download and install OpenDataKit (ODK) application</li>
                <li>Open ODK, click configure with QR code then scan the code bellow</li>
                <li>Set your identity; Open ODK > setting > user > device identity > form metadata then type your username, phone number and email address</li>
                <li>Set your identity; Open ODK > setting > user > device identity > form metadata then type your username, phone number and email address</li>
                <li>
                    <div>Open Your ODK application and you will find 5 options</div>
                    <ol>
                        <li>Fill blank form</li>
                        <li>Edit saved form</li>
                        <li>Send Finalized form</li>
                        <li>View sent form</li>
                        <li>Delete saved form</li>
                    </ol>
                </li>
                <li>In “Fill blank form” , you will find two forms; for Tanzania mainland and Zanzibar, select the form based on your location.</li>
                <li>Open form and you will find all the information you need to proceed with mapping</li>
                <li>Before start mapping, make sure you turn on location on your phone</li>
                <li>After adding all the attributes, use the “Send finalized form” option, select all the forms and send them</li>
                <li>After ~10 minutes, the new point will appear in the web map</li>
            </ol>
        </p>

    </div>
    <!-- add image -->
    <div class="howto_image">
        <img src="static/static_figures/qr_code.png" alt="QR code">
        </div>
</div>