{% extends "layout.html" %}
{% block content %}
{% include 'top_navbar.html' %}
<div class=" index_contents">
    <!-- sidebar -->
    <div class="sidebar sidebar_width--opened ">{% include 'info.html' %}</div>
    <!-- loading legend html code to dom, later JavaScript will correctly insert this content to the map -->
    {% include 'legend.html' %}
    <!-- map -->
    <div id="mapbar">
        <span class="ouro" id="spin">
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
        </span>
        <div id="mapid">
        </div>
        <p id="download-info" class="hide">Testing</p>
    </div>
    <div class="map_filters hide">
        {% include 'filters.html' %}
    </div>
</div>

{% include 'infographics.html' %}
</div>


<!--	Local javascript-->

<script
    src="{{ url_for('static', filename='node_modules/leaflet.browser.print/dist/leaflet.browser.print.js')}}"></script>
<script src="{{ url_for('static', filename='js/libraries/leaflet.easyprint.js')}}"></script>
<script src="{{ url_for('static', filename='/node_modules/ajax/lib/ajax.js')}}"></script>
<script src="{{ url_for('static', filename='/js/Tanzania_geojson.js')}}"></script>

<script src="{{url_for('static', filename='js/toggleNavbar.js')}}"></script>
<script src="{{url_for('static', filename='js/map.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>

{% endblock content %}