{% extends "layout.html" %}
{% block content %}
{% include 'top_navbar.html' %}
<div class="index_contents">
    {% include 'home.html' %}
    {% include 'maps.html' %}
    {% include 'howto.html' %}
</div>




<!--	Local javascript-->

<script
    src="{{ url_for('static', filename='node_modules/leaflet.browser.print/dist/leaflet.browser.print.js')}}"></script>
<script src="{{ url_for('static', filename='js/libraries/leaflet.easyprint.js')}}"></script>
<script src="{{ url_for('static', filename='/node_modules/ajax/lib/ajax.js')}}"></script>
<script src="{{ url_for('static', filename='/js/Tanzania_geojson.js')}}"></script>
<script src="{{ url_for('static', filename='/js/Tanzania_geojson_regions.js')}}"></script>
<script src="{{ url_for('static', filename='/js/Tanzania_geojson_waterbodies.js')}}"></script>

<script src="{{url_for('static', filename='js/toggleNavbar.js')}}"></script>
<script src="{{url_for('static', filename='js/map.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>

</html>

{% endblock content %}