<div class="col-4 side-column" id="sidebar">
                <div class="row">
                    <div class="col-11 " >
                        <div class="wrapper p-4">
                            <nav >
                                <div class="row">
                                    <div class="col-8">
                                        <img class="omdtz-logo" src="static/static_figures/OMDTZ-logo.png" alt="OMDTZ-logo">
                                    </div>
                                    <div class="col-4">
                                        <img class="wfp-logo" src="static/static_figures/WFP.jpeg" alt="WFP-logo">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h2>Nationwide Mills Census in Tanzania</h2>
                                         <p>OpenMap Development Tanzania (OMDTZ), supported by WFP Tanzania, is conducting a national-wide mills census from August through November 2021. The project aims at mapping approximately 13,000 mills and additional mills found in the field by collecting Geographical Positioning System (GPS) coordinates, operation, production capacity, type of mills, commodity milled, flour fortification, and other relevant information. Community mapping methodology employed for the mapping and data set will be available openly through here and  Openstreetmaps
                                        </p>
                                    </div>
                                    <hr>
                                    <div>
                                        <h3>Find OMDTZ in social media: </h3>
                                        <p class="social-share">
                                            <a  class="social-media-icon m-3" href="https://www.linkedin.com/company/openmap-development-tanzania-omdtz"><image alt="linkedin"src="static/static_figures/social_media_icons/social-1_round-linkedin.svg"></a>
                                            <a  class="social-media-icon m-3" href="https://www.facebook.com/OMDTZ"><img alt="facebook" src="static/static_figures/social_media_icons/social-1_round-facebook.svg"></a>
                                            <a  class="social-media-icon m-3" href="https://twitter.com/OMDTZ"><img alt="twitter" src="static/static_figures/social_media_icons/social-1_round-twitter.svg"></a>
                                            <a  class="social-media-icon m-3" href="https://www.instagram.com/omdtz/?hl=en"><img alt="instagram" src="static/static_figures/social_media_icons/social-1_round-instagram.svg"></a>
                                        </p>
                                    </div>
                                    <br>
                                <br>
                                    <hr>
                                    <div>
                                        <h4>The current number of mill sites:</h4>
                                        <h4 id="millNumber"></h4>
                                        <h4>The current number of machines:</h4>
                                        <h4 id="machineNumber"></h4>
                                    </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
