
<!-- the content is hidden(display: none) for a purpose: it will be loaded into leaflet map using js  -->
<div id="legend-content" style="display: none;">
    <h4>Number of Schools</h4>
    <i style="background: #7cc247"></i><span>Less than 10</span><br>
    <i style="background: #f7eb65"></i><span>10 to 100</span><br>
    <i style="background: #ff7438"></i><span>More than 100</span><br>
    <i style="background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/194515-200.png);background-repeat: no-repeat;"></i><span></span><br>
  </div>
  