<div id="maps" class="hide page">

    <h4>Please Choose a Region & District to Dowload Map</h4>
    <form>
        <select id="map_region" required>
                <option value="">SELECT REGION</option>
                <option class="dc-select-option" value="Geita">Geita</option>
                <option class="dc-select-option" value="Kagera">Kagera</option>
                <option class="dc-select-option" value="Katavi">Katavi</option>
                <option class="dc-select-option" value="Mara">Mara</option>
                <option class="dc-select-option" value="Mwanza">Mwanza</option>
                <option class="dc-select-option" value="Shinyanga">Shinyanga</option>
                <option class="dc-select-option" value="Simiyu">Simiyu</option>
                <option class="dc-select-option" value="Tabora">Tabora</option>
        </select>
        <select id="map_district" required>
            <option value="">SELECT DISTRICT</option>
            <option class="dc-select-option" value="Bariadi district council">Bariadi district council</option>
            <option class="dc-select-option" value="Bariadi town council">Bariadi town council</option>
            <option class="dc-select-option" value="Biharamulo district council">Biharamulo district council
            </option>
            <option class="dc-select-option" value="Buchosa district council">Buchosa district council</option>
            <option class="dc-select-option" value="Bukoba district council">Bukoba district council</option>
            <option class="dc-select-option" value="Bukoba municipal council">Bukoba municipal council</option>
            <option class="dc-select-option" value="Bukombe district council">Bukombe district council</option>
            <option class="dc-select-option" value="Bunda district council">Bunda district council</option>
            <option class="dc-select-option" value="Bunda town council">Bunda town council</option>
            <option class="dc-select-option" value="Busega district council">Busega district council</option>
            <option class="dc-select-option" value="Butiama district council">Butiama district council</option>
            <option class="dc-select-option" value="Chato district council">Chato district council</option>
            <option class="dc-select-option" value="Geita district council">Geita district council</option>
            <option class="dc-select-option" value="Geita town council">Geita town council</option>
            <option class="dc-select-option" value="Igunga district council">Igunga district council</option>
            <option class="dc-select-option" value="Ilemela municipal council">Ilemela municipal council</option>
            <option class="dc-select-option" value="Itilima district council">Itilima district council</option>
            <option class="dc-select-option" value="Kahama town council">Kahama town council</option>
            <option class="dc-select-option" value="Kaliua district council">Kaliua district council</option>
            <option class="dc-select-option" value="Karagwe district council">Karagwe district council</option>
            <option class="dc-select-option" value="Kishapu district council">Kishapu district council</option>
            <option class="dc-select-option" value="Kwimba district council">Kwimba district council</option>
            <option class="dc-select-option" value="Kyerwa district council">Kyerwa district council</option>
            <option class="dc-select-option" value="Magu district council">Magu district council</option>
            <option class="dc-select-option" value="Maswa district council">Maswa district council</option>
            <option class="dc-select-option" value="Mbogwe district council">Mbogwe district council</option>
            <option class="dc-select-option" value="Meatu district council">Meatu district council</option>
            <option class="dc-select-option" value="Missenyi district council">Missenyi district council</option>
            <option class="dc-select-option" value="Misungwi district council">Misungwi district council</option>
            <option class="dc-select-option" value="Mlele district council">Mlele district council</option>
            <option class="dc-select-option" value="Mpanda district council">Mpanda district council</option>
            <option class="dc-select-option" value="Mpanda municipal council">Mpanda municipal council</option>
            <option class="dc-select-option" value="Mpimbwe district council">Mpimbwe district council</option>
            <option class="dc-select-option" value="Msalala district council">Msalala district council</option>
            <option class="dc-select-option" value="Muleba district council">Muleba district council</option>
            <option class="dc-select-option" value="Musoma district council">Musoma district council</option>
            <option class="dc-select-option" value="Musoma municipal council">Musoma municipal council</option>
            <option class="dc-select-option" value="Mwanza city council">Mwanza city council</option>
            <option class="dc-select-option" value="Ngara district council">Ngara district council</option>
            <option class="dc-select-option" value="Nsimbo district council">Nsimbo district council</option>
            <option class="dc-select-option" value="Nyang'hwale district council">Nyang'hwale district council
            </option>
            <option class="dc-select-option" value="Nzega district council">Nzega district council</option>
            <option class="dc-select-option" value="Nzega town council">Nzega town council</option>
            <option class="dc-select-option" value="Rorya district council">Rorya district council</option>
            <option class="dc-select-option" value="Sengerema district council">Sengerema district council</option>
            <option class="dc-select-option" value="Serengeti district council">Serengeti district council</option>
            <option class="dc-select-option" value="Shinyanga district council">Shinyanga district council</option>
            <option class="dc-select-option" value="Shinyanga municipal council">Shinyanga municipal council
            </option>
            <option class="dc-select-option" value="Sikonge district council">Sikonge district council</option>
            <option class="dc-select-option" value="Tabora municipal council">Tabora municipal council</option>
            <option class="dc-select-option" value="Tabora uyui district council">Tabora uyui district council
            </option>
            <option class="dc-select-option" value="Tarime district council">Tarime district council</option>
            <option class="dc-select-option" value="Tarime town council">Tarime town council</option>
            <option class="dc-select-option" value="Ukerewe district council">Ukerewe district council</option>
            <option class="dc-select-option" value="Urambo district council">Urambo district council</option>
            <option class="dc-select-option" value="Ushetu district council">Ushetu district council</option>
        </select>
        <input type="submit" class="btn" value="Download">
    </form>
</div>