<div id="maps" class="hide page">
<span class="hide" id="districtMapsLinks">{{districtMapsLinks}}</span>

    <h4>Please Choose a Region & District to Dowload Map</h4>
    <form action="/download" method="post">
        <select id="map_region" required>
                <option value="">SELECT REGION</option>  
        </select>
        <select id="map_district" required>
            <option value="">SELECT DISTRICT</option>
        </select>
        <a id="map_download_link" href="" target="_blank">
            <input type="button" class="btn" value="Download">
          </a>
    </form>
</div>