<nav class="nav nav-tabs bg-light fixed-top top_navbar">
  <div class="row">
    <div class="col-3">
      <a href="https://www.tamisemi.go.tz" target="_blank">
        <img class="top_navbar__logo"  src="static/static_figures/Coat_of_arms_of_Tanzania.png" alt="OMDTZ-logo">
      </a>
  </div>
    <div class="col-6">
      <a href="https://www.omdtz.or.tz" target="_blank">
        <img class="top_navbar__logo"  src="static/static_figures/OMDTZ-logo.png" alt="OMDTZ-logo">
      </a>
    </div>
    <div class="col-3">
      <a href="https://www.wfp.org" target="_blank">
        <img class="top_navbar__logo"  src="static/static_figures/WFP.jpeg" alt="WFP-logo">
      </a>
    </div>
</div>
  <!-- <button class="nav-link active text-info p-4"id="sidebarToggle">
    <strong>Info</strong>
  </button>
  <button class="nav-link" id="filterToggle">
    <strong>Filters and infographics</strong>
  </button>
  <button class="nav-link" id="howtoToggle">
    <strong>How to use this page</strong>
  </button> -->
</nav>
